@import url(http://fonts.googleapis.com/css?family=Open+Sans);

header {
    
 }
/*Header propierties set in px to ensure that header will fit in any kind of screen*/
#genericBox{
	height: 150px;
}
 #box1{
 	width: 275px;
 	height: 15%;
 }

#box3{
	float:left;
}
 #box3 button{
 	border: 1px solid black;
 	background-color: black;
 	margin-top: 20px;
 }
#box3 button i:active{
 	font-size: 70pt;
}

#selectionType{
 	color:#ffffff;
 	margin-left: 56%;
 	margin-top:-1%;
 	flex-wrap: wrap;
 }
 #selectionType input{
 	margin-left: 2%;
 }

/*USER INTERACTION WITH ACTIONS*/
#actions {
	height: 100%;
	width: 14%;
	float: left;
	background-color: #BCF5A9;
	border-radius: 25px;
	position: fixed;
}

#shareonFB{
	margin-left: 46%;
	margin-top: 15%;
}

#SN, #S, #T, [id^="dPl"]{
	width: 60%;
	margin-left: 12%;
	margin-bottom: 10px;
	margin-top: 25px;
	background-color:#5cbf2a;
	-moz-border-radius:7px;
	list-style: none;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #18ab29;
	cursor:pointer;
	color:#ffffff;
	padding:8px 15px;
	text-shadow:0px 1px 0px #2f6627;
}

[id^="dPl"] {background-color:#DBA901; list-style: none;}
#inputlist{margin-left: 11%; display: inline-flex; width: 70%;}
#add{ background-color: red; border: 1px solid red; border-radius:17px; height: 3%; margin-left: 3%;}

#selectPlaylist{
	height: 100%;
	right: 1%;
	position: fixed;
	width: 14%;
	float: right;
	background-color: #FACC2E;
	border-radius: 25px;
}
#playlist{
		list-style-type: none;
}


.form-group{margin-left: 25%; width: 330%; flex-wrap: wrap;}
/*POPULAR TRACKS*/
#init{margin-left: 15%; position: relative; float: left; width: 69%; flex-wrap: wrap;}
#init ul {list-style-type: none;}
#init ul li{margin:auto; float:left;}
#init ul li p{text-align: center;}
#init ul li figure{float: left;margin: 1%; padding:1%;}
#init ul li figure img{width: 300px; height: 300px;}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 7px;
		padding-top: 5px;
		
	}
	.container-fluid, .navbar-right{
		background-color: black;
		margin-right: -4px;
	}
	.navbar-brand>img {
		height: 400%;
	}

footer{
	margin-left: 20%;
}
footer h4{
	padding-left: 10%;
	width: 80%;
	background: #FFBF00;
	float: left;
	margin: 0 0 .5% 0;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #202020
}


@media (min-width: 768px) {

	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand .navbar-btn{
		margin-left: 7px;
		padding-top: 0px;
		background-color: black;
	}


	.navbar-brand>img {
		height: 400%;
	}

	.navbar-form .form-control {
		display: inline-block;
		vertical-align: middle;
		width: 95%;
		margin-top: 7%;
	}

	
}

@media only screen and (max-device-width: 480px) {
	
	#selectionType {
		color: #ffffff;
		margin-left: 33%;
		margin-top: 1%;
	}
	
	#selectionType input{
		margin-left: 2%;
		display:inline;
	}

	.form-group{margin-left: 5%; width: 250%;}

}